/*Primary colors Variables with opacity*/
$Ligh-red: hsla(0, 100%, 67%, 0.062);
$Orangey-yellow: hsl(39, 100%, 56%, 0.062);
$Green-teal: hsl(166, 100%, 37%, 0.062);
$Cobalt-blue: hsl(234, 85%, 45%, 0.062);

/*Primary color for texts*/
$Ligh-red1: hsla(0, 100%, 67%);
$Orangey-yellow1: hsl(39, 100%, 56%);
$Green-teal1: hsl(166, 100%, 37%);
$Cobalt-blue1: hsl(234, 85%, 45%);

/*Gradients colors variables for background*/
$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);

/*Gradients colors variables for circle*/
$Violet-blue: hsla(256, 72%, 46%, 1);
$Persian-blue: hsla(241, 72%, 46%, 0);

/*Neutral colors*/
$White :hsl(0, 0%, 100%);
$Pale-blue :hsl(221, 100%, 96%);
$Light-lavender :hsl(241, 100%, 89%);
$Dark-gray-blue :hsl(224, 30%, 27%);

/*Font*/
$Hanken-grotesk:'https://fonts.google.com/specimen/Hanken+Grotesk';