* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf");
}
body {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  place-items: center;
  font-family: "Hanken Grotesk";
}

/*Primary colors Variables with opacity*/
/*Primary color for texts*/
/*Gradients colors variables for background*/
/*Gradients colors variables for circle*/
/*Neutral colors*/
/*Font*/
/*Modules*/
main {
  display: flex;
  width: 734px;
  height: 512px;
  flex-wrap: wrap;
  border-radius: 35px;
  overflow: hidden;
  box-shadow: 10px 10px 5px hsl(221, 100%, 96%);
}

.result {
  width: 368px;
  padding: 40px;
  border-radius: 35px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
}
.result_resultnumber {
  margin: 0 auto;
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  padding: 30px;
  width: 203px;
  height: 193px;
  border-radius: 50%;
  border: none;
  margin-bottom: 30px;
}
.result_mainnumber {
  font-size: 70px;
}
.result_mainnumber, .result_resulttitle {
  color: hsl(0, 0%, 100%);
}
.result_desc {
  color: hsl(241, 100%, 89%);
  margin-bottom: 40px;
}
.result_resulttitle-description {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}

.Summary {
  text-align: left;
  width: 366px;
  padding: 40px;
  color: hsl(224, 30%, 27%);
}
.Summary_container_button {
  width: 266px;
  margin-top: 100px;
  margin-left: 10px;
  height: 47px;
  color: hsl(221, 100%, 96%);
  background-color: hsl(224, 30%, 27%);
  border-radius: 30px;
  border: none;
  font-family: "Hanken Grotesk";
  font-weight: bold;
  font-size: 15px;
}
.Summary_container_button:hover {
  transition: 3s ease;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.Summary_container_results_line {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  margin-top: 20px;
  align-items: center;
  border-radius: 5px;
}
.Summary_container_results_line_img_svg {
  margin-right: 10px;
}
.Summary_container_results_line_img, .Summary_container_results_line_numbers {
  display: inherit;
}
.Summary_container_results_line_numbers_txt {
  font-weight: bold;
}
.Summary_container_results_line_red {
  background-color: hsla(0, 100%, 67%, 0.062);
}
.Summary_container_results_line_yellow {
  background-color: hsla(39, 100%, 56%, 0.062);
}
.Summary_container_results_line_green {
  background-color: hsla(166, 100%, 37%, 0.062);
}
.Summary_container_results_line_purple {
  background-color: hsla(234, 85%, 45%, 0.062);
}
.Summary_container_results_line_txt1 {
  color: hsl(0, 100%, 67%);
}
.Summary_container_results_line_txt2 {
  color: hsl(39, 100%, 56%);
}
.Summary_container_results_line_txt3 {
  color: hsl(166, 100%, 37%);
}
.Summary_container_results_line_txt4 {
  color: hsl(234, 85%, 45%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 733px) {
  main {
    width: 375px;
    height: 809px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .result {
    width: 375px;
    height: 356px;
    padding: 20px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .result_desc {
    margin-bottom: 5px;
  }
  .result_resultnumber {
    margin-top: 0;
    width: 138px;
    height: 139px;
  }
  .result_resulttitle-description {
    margin-top: 5px;
  }
  .Summary {
    width: 375px;
    height: 454px;
  }
  .Summary_container_button {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
